
<p class = "notice"><%= notice%></p>
<p class = "alert"><%= alert %></p>
<h1>Articles</h1>


Our blog has <%= Article.public_count %> articles and counting!

<%= form_with url: "/filter", method: :post do |form| %>
  <%= form.label :category %><br>
  <%= form.select :category, ['Art', 'Sport', 'Science'], selected: 'Art' %>
  <%= form.submit "Filter" %>
<% end %>

<%= render 'articles/search_form', q: @q  %>

<%= render 'articles/article_display', articles: @articles  %>

<%= will_paginate @article%>

<%= link_to "New Article", new_article_path %>
