<h1><%= User.find(@article.user_id).email %></h1>


<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<%= @likes.count %>
<%= button_to "Like", action: "new" %>
<% if can? :update, @article %>
  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
  </ul>
<% end %>
<% if @article.image.attached? %>
    <%= image_tag @article.image %>
  <% end %>
<%= @article.category %>
<h2>Comments</h2>
<%= render @article.comments %>

<p><%= link_to "Go back to articles", articles_path %></p>
<h2>Add a comment:</h2>
<%= render 'comments/form', user_id: current_user.id  %>